.page-content[portfolio-toj]{
  .timeline-progress {line-height:1;position:fixed;top:0;left:20%;right:20%;width:auto;height:5px;z-index:3;display:block;background:rgba($magenta, 0.45);@include border-radius(0);@include transform(translateZ(0));@include backface-visibility(hidden);
    &::after {opacity:0.4;display:block;content:'';width:100%;top:100%;left:0;height:10px;background:transparent url('#{$image-path}/timeline-notches.png') repeat-x;background-position:0 100%;}
    .value {width:0;height:100%;background:$magenta;display:block;}
    .marker {text-align:center;line-height:0;padding-top:20px;margin-top:15px;display:inline-block;position:absolute;top:100%;width:40px;height:40px;margin-left:-20px;background:transparent url('#{$image-path}svg/rounded_hex.svg') no-repeat 50% 50%;background-size:contain;@include transform(scale(1) translateY(0));@include transition(all 0.2s ease);
      &:hover, &.active {color:darken($lime-green, 20%);@include transform(scale(1.3) translateY(4px));}
    }
  }

  aside {position:fixed;top:1rem;right:1rem;z-index:2;
    .close {display:inline-block;position:relative;
      a {display:block;width:50px;height:50px;background:url('#{$image-path}svg/thin-close.svg') no-repeat 50% 50%;background-size:cover;overflow:hidden;text-indent:-999px;@include transform(rotate(0) translateZ(0));@include transition(all 0.25s ease);}
      span {text-transform:uppercase;font-size:14px;padding:0.3rem 0.5rem;white-space:nowrap;opacity:0;visibility:hidden;display:inline-block;color:#fff;position:absolute;right:100%;top:50%;background:rgba(0,0,0,0.65);@include transform(translateX(20px) translateY(-50%) translateZ(0));@include transition(all 0.15s ease);}
      &:hover {
        a {@include transform(rotate(180deg));}
        span {opacity:1;visibility:visible;@include transform(translateX(0) translateY(-50%));}
      }
    }
  }

  .dock {position:absolute;top:100%;overflow:hidden;}
  //.tabular {position:absolute;top:100%;overflow:hidden;}

  .group-1 {position:absolute;top:0;width:100%;height:100%;z-index:2;}

  .intro {top:0;background-position:50% 50%;background-size:auto 150%;
    h1 {padding:0 2rem;margin:0;text-transform:uppercase;font-weight:900;font-size:6rem;line-height:7rem;@include text-shadow(0 1px 1px #000);}
    .instruct {position:relative;color:darken($light-blue,25%);display:inline-block;margin-top:2rem;text-transform:uppercase;padding:0.4rem 0.8rem;font-size:15px;font-weight:500;font-family:$font-family-sans-serif;background:rgba($light-blue,0.8);@include text-shadow(0 1px 0 #fff);@include border-radius(24px);@include animation(bob 2s infinite);
      i {line-height:0;font-size:30px;position:relative;top:4px;}
    }
    p {background:#000;display:inline-block;margin:0 auto;padding:10px;margin:1rem;}
  }

  .brief {position:absolute;top:100%;left:0;width:100%;height:75%;background-position:50% 50%;background-size:cover;@include text-shadow(0 1px 0 #000);
    .tabular {top:0;position:relative;}
    h2 {font-size:400%;padding:0 2rem;font-family:$font-family-grunge;}
    h3 {max-width:75%;margin:0 auto;}
  }

  .group-2 {width:100%;height:100%;}

  .screens {@include background-image(linear-gradient(#f1f1f1, #c1c1c1 65%, #f1f1f1));
    .bg {opacity:0;position:absolute;top:0;right:0;bottom:0;left:0;background-position:50% 50%;background-size:cover;}
    .phonerize {position:relative;height:80%;min-width:20%;z-index:1;}
    img {max-height:100%;position:absolute;top:50%;left:50%;@include transform(translate3d(-50%,-50%,0));
      &:nth-of-type(1) {z-index:3;}
      &:nth-of-type(2) {z-index:2;}
      &:nth-of-type(3) {z-index:1;}
    }
    .shadower {display:none;width:30%;height:25px;position:absolute;top:105%;left:50%;margin-left:-15%;background:#000;@include filter(blur(20px));@include transform(rotateZ(6deg) translateZ(0));}
  }

  .trips {position:relative;width:100%;height:100%;
    .holder {position:absolute;top:0;left:0;width:200%;height:100%;font-size:0;line-height:0;
      .frame {display:inline-block;width:calc(100% * 1/4);height:100%;
        &:nth-of-type(1){background:#0f0f0f;}
        &:nth-of-type(2){background:#00ffff;}
        &:nth-of-type(3){background:#280b0b;}
        &:nth-of-type(4){background:#0000FF;}
        .tabular {height:50%;}

      }
    }
  }

  .about {

  }

  .video {background:#0f0f0f;
    video {position:absolute;top:0;left:0;min-width:100%;min-height:100%;width:auto;height:auto;}
  }
}

@include keyframes(bob){
  0% {@include transform(translateY(-5px));}
  50% {@include transform(translateY(5px));}
  100% {@include transform(translateY(-5px));}
}