.page-content[portfolio-toj]{
//  .timeline-progress {padding:8px;line-height:1;position:fixed;top:50%;right:0;width:auto;z-index:9;background:rgba(0,0,0,0.3);@include transform(translateY(-50%));
//    .marker {text-align:center;margin:8px 0;display:block;width:20px;height:20px;background:transparent url('#{$image-path}svg/rounded_hex.svg') no-repeat 50% 50%;background-size:contain;opacity:0.75;@include transform(scale(1) rotate(0));@include transition(all 0.2s ease);
//      &:hover, &.active {opacity:1;@include transform(scale(1.3) rotate(180deg));}
//    }
//  }
  .timeline-progress {line-height:1;position:fixed;top:0;left:20%;right:20%;width:auto;height:5px;z-index:9;display:block;background:rgba($magenta, 0.45);@include border-radius(0);@include transform(translateZ(0));@include backface-visibility(hidden);
    &::after {opacity:0.4;display:block;content:'';width:100%;top:100%;left:0;height:10px;background:transparent url('#{$image-path}/timeline-notches.png') repeat-x;background-position:0 100%;}
    .value {width:0;height:100%;background:$magenta;display:block;}
    .marker {text-align:center;line-height:0;padding-top:20px;margin-top:15px;display:inline-block;position:absolute;top:100%;width:40px;height:40px;margin-left:-20px;background:transparent url('#{$image-path}svg/rounded_hex.svg') no-repeat 50% 50%;background-size:contain;@include transform(scale(1) translateY(0));@include transition(all 0.2s ease);
      &:hover, &.active {color:darken($lime-green, 20%);@include transform(scale(1.3) translateY(4px));}
    }
  }

  aside {position:fixed;top:1rem;right:1rem;z-index:9;
    .close {display:inline-block;position:relative;
      a {display:block;width:50px;height:50px;background:url('#{$image-path}svg/thin-close.svg') no-repeat 50% 50%;background-size:cover;overflow:hidden;text-indent:-999px;@include transform(rotate(0) translateZ(0));@include transition(all 0.25s ease);}
      span {text-transform:uppercase;font-size:14px;padding:0.3rem 0.5rem;white-space:nowrap;opacity:0;visibility:hidden;display:inline-block;color:#fff;position:absolute;right:100%;top:50%;background:rgba(0,0,0,0.65);@include transform(translateX(20px) translateY(-50%) translateZ(0));@include transition(all 0.15s ease);}
      &:hover {
        a {@include transform(rotate(180deg));}
        span {opacity:1;visibility:visible;@include transform(translateX(0) translateY(-50%));}
      }
    }
  }

  .dock {position:absolute;top:100%;}

  .group-1 {position:absolute;top:0;width:100%;height:100%;z-index:2;}

  .intro {top:0;background-position:50% 50%;background-size:auto 150%;
    h1 {padding:0 2rem;margin:0;text-transform:uppercase;font-weight:900;font-size:6rem;line-height:7rem;@include text-shadow(0 1px 1px #000);
      span {display:inline-block;}
    }
    .instruct {position:relative;color:darken($light-blue,25%);display:inline-block;margin-top:2rem;text-transform:uppercase;padding:0.4rem 0.8rem;font-size:15px;font-weight:500;font-family:$font-family-sans-serif;background:rgba($light-blue,0.8);@include text-shadow(0 1px 0 #fff);@include border-radius(24px);@include animation(bob 2s infinite);
      i {line-height:0;font-size:30px;position:relative;top:4px;}
    }
    p {background:#000;display:inline-block;margin:0 auto;padding:10px;margin:1rem;}
  }

  .brief {position:absolute;top:100%;left:0;width:100%;height:100%;background-position:50% 50%;@include text-shadow(0 1px 0 #000);overflow:hidden;
    .vert-track {height:100%;width:100%;}
    .cellular {padding:2% 10%;}
    h2 {font-size:400%;padding:0 2rem;font-family:$font-family-grunge;
      &.striker {color:#EE0000;text-decoration:line-through;}
    }
    p {font-size:1.8rem;}
  }

  .group-2 {width:100%;height:100%;}

  .screens {color:$gray;@include background-image(linear-gradient(#f1f1f1, #c1c1c1 65%, #f1f1f1));
    .mobiles {position:relative;height:80%;min-width:20%;z-index:1;
      img {max-height:100%;position:absolute;top:50%;left:50%;@include transform(translate3d(-50%,-50%,0));
        &:nth-of-type(1) {z-index:3;}
        &:nth-of-type(2) {z-index:2;}
        &:nth-of-type(3) {z-index:1;}
      }
      .shadower {display:none;width:30%;height:25px;position:absolute;top:105%;left:50%;margin-left:-15%;background:#000;@include filter(blur(20px));@include transform(rotateZ(6deg) translateZ(0));}
      h3 {margin:0;position:absolute;top:100%;width:100%;}
    }

    .large-format {position:absolute;top:0;left:100%;width:100%;height:100%;
      img {max-height:80%;}
    }
  }

  .details {position:relative;width:100%;height:100%;overflow:hidden;
    .background {position:absolute;top:0;left:0;width:100%;height:100%;background-size:cover;}
    .half {padding:1rem;position:absolute;top:0;left:0;width:50%;height:100%;background:rgba(0,0,0,0.75);z-index:1;
      &.tech {left:-50%;}
    }
  }

  .video {
    video {position:absolute;top:0;left:0;min-width:100%;min-height:100%;width:auto;height:auto;}
    .cellular {padding:0 10%;}
    blockquote {font-size:1.6rem;}
  }
}

@include keyframes(bob){
  0% {@include transform(translateY(-5px));}
  50% {@include transform(translateY(5px));}
  100% {@include transform(translateY(-5px));}
}