// Fonts
@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700|Roboto+Slab:400,100,300,700|Sanchez:400italic,400|Enriqueta:400,700);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker|Nothing+You+Could+Do|Over+the+Rainbow);

// Vars
$fa-font-path:                  '/packages/redeaux/bower_components/font-awesome/fonts';
$image-path:                    '/packages/redeaux/images/';
$magenta:                       #c7254e;
$magenta-step-down15:           darken($magenta, 15%);
$magenta-step-down7_5:          darken($magenta, 7.5%);
$magenta-step-up7_5:            darken($magenta, 7.5%);
$magenta-step-up15:             lighten($magenta, 15%);
$magenta-step-up25:             lighten($magenta, 25%);
$magenta-transparent:           rgba($magenta-step-down15, 0.9);
$dark-blue:                     #153e4d;
$light-blue:                    #2299ac;
$lime-green:                    #219161;
$sidebar-animate-time:          0.18s;
$sidebar-animate-trigger-time:  0.3s;
$mask-animate-time:             0.3s;
// Bootstrap
$body-bg:                       #0f0f0f;
$text-color:                    #fff;
$font-family-serif:             'Rokkitt', serif;
$font-family-base:              $font-family-serif;
$font-family-grunge:            'Permanent Marker', $font-family-base;
$font-size-base:                19px;
$font-size-h1:                  400%;
$font-size-h2:                  300%;
$font-size-h3:                  200%;
$font-size-h4:                  160%;
$headings-font-weight:          100;
$btn-font-weight:               100;
$border-radius-base:            0;
$border-radius-large:           0;
$border-radius-small:           0;
$link-color:                    #fff;
$input-bg:                      $magenta-transparent;
$input-border:                  transparent;
$input-color:                   #f5f5f5;
$input-color-placeholder:       $magenta-step-up15;
$input-border-focus:            $magenta-step-up7_5;

// Imports
@import 'compass';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/variables';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/mixins';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/scaffolding';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/normalize';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/type';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/grid';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/buttons';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/forms';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/utilities';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/responsive-utilities';
@import '../../bower_components/font-awesome/scss/font-awesome';
@import 'mixins';

// More variables (AFTER) bootstrap defaults
$grid-gutter-half: ($grid-gutter-width / 2);