// Basics
html, body {font-size:$font-size-base;height:100%;overflow:hidden;}
h1,h2,h3,h4,h5,h6 {margin:0;text-transform:uppercase;text-align:center;line-height:1;}
input, textarea, button, a {&:focus, &:active {outline:none;}}
a, a:hover, a:active {cursor:pointer;text-decoration:none;}
img {@extend .img-responsive;display:inline-block;}
.tabular {width:100%;height:100%;display:table;
  .cellular {width:100%;height:100%;display:table-cell;vertical-align:middle;text-align:center;}
}
@include scrollbars($magenta, 7px);

#level-1, #level-2, #level-3, .page-body, .page-content {width:100%;height:100%;position:relative;}

#level-2 {@include transform(translateZ(0) translateX(0));@include transition(all $sidebar-animate-time ease);
  .logo {display:none;position:fixed;top:15px;left:15px;height:80px;z-index:2;}
  &:after {display:block;content:'';background:rgba(0,0,0,0.8);position:absolute;top:0;left:0;right:-3rem;bottom:0;z-index:9;visibility:hidden;opacity:0;@include transform(translateZ(0));@include transition(all $mask-animate-time ease);}
}

#level-3 {}

// Animations for <section> element (angular requires to be on a class)
section.page-body {position:absolute;top:0;left:0;@include transform(translateY(0));@include transition(all 0.35s ease);
  &.ng-leave {opacity:1;@include transform(translateY(0));
    &.ng-leave-active {opacity:0;@include transform(translateY(100%));}
  }
  &.ng-enter {opacity:0;@include transform(translateY(-100%));//@include transition-delay(0.25s);
    &.ng-enter-active {opacity:1;@include transform(translateY(0));}
  }
}
// section.page-body > .page-content
.page-content {padding:$grid-gutter-half;@include scrollOverflow;z-index:1;}

#parallax {position:absolute;top:0;left:-3rem;width:calc(100% + 6rem);height:100%;z-index:-1;overflow:hidden;
  .layer {position:absolute;top:0;left:3rem;width:120%;height:100%;background-size:cover;background-repeat:no-repeat;//@include transform(translateZ(0) translateX(0));@include transition-property(all);@include transition-timing-function(ease);
    &.sky {background-image:url('#{$image-path}theme/sky.jpg');background-position:50% 0;}
    &.mtn {background-image:url('#{$image-path}theme/mtns.png');background-position:50% 100%;}
    //&.sky {background-image:inline-image('theme/sky.jpg');background-position:50% 0;}
    //&.mtn {background-image:inline-image('theme/mtns.png');background-position:50% 100%;}
  }
}

// Fix scroll overflow while in edit mode
html.cms-admin section.page-body {height:calc(100% - 49px);}