@import 'base';

// Basics
html, body {font-size:$font-size-base;height:100%;overflow:hidden;}
h1,h2,h3,h4,h5,h6 {margin:0;text-transform:uppercase;text-align:center;line-height:1;}
input, textarea, button, a {&:focus, &:active {outline:none;}}
a, a:hover, a:active {cursor:pointer;text-decoration:none;}
img {@extend .img-responsive;display:inline-block;}
.tabular {width:100%;height:100%;display:table;
  .cellular {width:100%;height:100%;display:table-cell;vertical-align:middle;text-align:center;}
}
@include scrollbars($magenta, 7px);

#level-1, #level-2, #level-3, section {width:100%;height:100%;position:relative;}

#level-2 {@include transform(translateZ(0) translateX(0));@include transition(all $sidebar-animate-time ease);
  &:after {display:block;content:'';background:rgba(0,0,0,0.8);position:absolute;top:0;left:0;right:-3rem;bottom:0;z-index:9;visibility:hidden;opacity:0;@include transform(translateZ(0));@include transition(all $mask-animate-time ease);}
}

#level-3 {
  section {padding:$grid-gutter-half;@include scrollOverflow;}
}

#parallax {position:absolute;top:0;left:-3rem;width:calc(100% + 6rem);height:100%;z-index:-1;overflow:hidden;
  .layer {position:absolute;top:0;left:3rem;width:120%;height:100%;background-size:cover;background-repeat:no-repeat;@include transform(translateZ(0) translateX(0));@include transition-property(all);@include transition-timing-function(ease);
    &.sky {@include transition-duration(2.7s);background-image:url('#{$image-path}theme/sky.jpg');background-position:50% 0;}
    &.mtn {@include transition-duration(1.2s);background-image:url('#{$image-path}theme/mtns.png');background-position:50% 100%;}
  }
}

nav {background:$magenta;position:absolute;top:0;bottom:0;height:100%;left:100%;width:calc(100% - 3rem);z-index:9;@include transform(translateZ(0) translateX(0));@include transition(all $sidebar-animate-time ease);
  .inner {position:relative;height:100%;width:100%;@include unselectable;
    .trigger {text-align:center;position:absolute !important;display:block;right:100%;width:3rem;padding:0.5rem 0.8rem;font-size:1.5rem;line-height:1;background:rgba($magenta,0.8);@include transform(rotate(0) scale(1));@include transition(all $sidebar-animate-trigger-time ease);
      i {position:relative;top:2px;
        &.fa-spin {display:none;}
      }
    }
    ul {margin:0;height:100%;@include scrollOverflow;
      li {
        a {display:block;padding:0.8em;font-size:1.4rem;line-height:1;}
        &.active a {background:$magenta-step-down7_5;}
        &:hover a {background:$magenta-step-down15;}
      }
    }
  }
  &.nav-open {@include transform(translateX(-100%));
    ~ #level-2 {@include transform(translateX(-100%));
      &:after {opacity:1;visibility:visible;}
    }
  }
  &.nav-open, &:hover {@include box-shadow(0 0 10px #000/*inset 5px -10px 10px rgba(0,0,0,0.5)*/);}
  &.working .inner .trigger {
    i.fa-bars {display:none;}
    i.fa-spin {display:inline-block;}
  }
}

@media screen and (min-width:$screen-xs){
  nav {width:375px;
    .inner {
      .trigger {margin:0.7rem;background:rgba($magenta,1);@include cubify($magenta-step-down15, 5px);}
    }
    &.nav-open {@include transform(translateX(-375px));
      .trigger {@include transform(rotate(45deg) scale(0.85));}
      ~ #level-2 {@include transform(translateX(-375px));
        &:after {opacity:1;visibility:visible;}
      }
    }
  }
  html.no-touch nav:hover {@include transform(translateX(-375px));
    .trigger {@include transform(rotate(45deg) scale(0.85));}
    ~ #level-2 {@include transform(translateX(-375px));
      &:after {opacity:1;visibility:visible;}
    }
  }
}

// Fix scroll overflow while in edit mode
html.cms-admin section {height:calc(100% - 49px);}