// Fonts
@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);

// Custom vars
$parallaxPages:               3;
$fa-font-path:                '/packages/focus43/fonts/';
$imagePath:                   '/packages/focus43/images/';
$magenta:                     #c7254e;
$magenta-step-down15:         darken($magenta, 15%);
$magenta-step-down7_5:        darken($magenta, 7.5%);
$magenta-step-up7_5:          darken($magenta, 7.5%);
$magenta-step-up15:           lighten($magenta, 15%);
$magenta-step-up25:           lighten($magenta, 25%);
$magenta-transparent:         rgba($magenta-step-down15, 0.9);;
$dark-blue:                   #153e4d;
$light-blue:                  #2299ac;
$lime-green:                  #219161;
// Bootstrap vars
$link-color:                  #fff;
//$grid-gutter-width:           16px;
$font-size-base:              19px;
$font-size-h1:                315%;//floor(($font-size-base * 5.6));
$font-size-h2:                285%;//floor(($font-size-base * 3.5));
$font-size-h3:                220%;//ceil(($font-size-base * 2.7));
$font-size-h4:                155%;//ceil(($font-size-base * 1.65));
$headings-font-weight:        100;
$btn-font-weight:             100;
$text-color:                  #fff;
$border-radius-base:          0;
$border-radius-large:         0;
$border-radius-small:         0;
$input-bg:                    $magenta-transparent;
$input-border:                transparent;
$input-color:                 #f5f5f5;
$input-color-placeholder:     $magenta-step-up15;
$input-border-focus:          $magenta-step-up7_5;
$font-family-base:            'Rokkitt', serif;

// Imports
@import 'compass';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/variables';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/mixins';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/scaffolding';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/normalize';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/type';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/grid';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/buttons';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/forms';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/utilities';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/responsive-utilities';
@import '../../bower_components/font-awesome/scss/font-awesome';
@import 'custom-mixins';

$pageSections:5;

// Base
html, body {font-weight:100;font-size:$font-size-base;height:100%;overflow:hidden;}
h1,h2,h3,h4,h5 {margin:0;text-transform:uppercase;text-align:center;line-height:1;}
h1 {letter-spacing:-2px;}
a, a:hover, a:active {cursor:pointer;text-decoration:none;}
p {letter-spacing:0.055em;}
img {@extend .img-responsive;display:inline-block;}
.tabular {width:100%;height:100%;display:table;
  .cellular {width:100%;height:100%;display:table-cell;vertical-align:middle;text-align:center;}
}

// Cubed styles; by default, includes a dark magenta cube w/ *no* background settings
.cubify {margin-bottom:16px;@include cubify(darken($magenta,30%),($grid-gutter-width/4));@include box-shadow(0 10px 20px rgba(0,0,0,.5));
  &.cubify-magenta {background:$magenta;@include cubify(darken($magenta,30%),($grid-gutter-width/4));}
  &.cubify-blue {background:$light-blue;@include cubify(darken($light-blue,20%),($grid-gutter-width/4));}
  &.cubify-green {background:$lime-green;@include cubify(darken($lime-green,20%),($grid-gutter-width/4));}
  &.cubify-orange {background:#df8505;@include cubify(darken(#df8505,20%),($grid-gutter-width/4));}
}

// Horizontal parallax
#parallax, #parallax .inner, #parallax .layer {width:100%;height:100%;}
#parallax {position:fixed;top:0;left:0;z-index:0;
  .inner {position:relative;overflow:hidden;
    .layer {position:absolute;top:0;left:0;width:200%;background-size:cover;background-repeat:no-repeat;@include transform(translateZ(0) translateX(0));@include transition-property(all);@include transition-timing-function(ease);
      &#layer-butte {@include transition-duration(2.1s);background-position:0 100%;background-image:url('#{$imagePath}parallax/camp.jpg');}
      &#layer-clouds {@include transition-duration(4.25s);@include transition-delay(0.35s);background-position:0 100%;background-image:url('#{$imagePath}parallax/stars.png');}
      &#layer-moon {@include transition-duration(2.7s);@include transition-delay(0.2s);background-position:35% 100%;background-image:url('#{$imagePath}parallax/moon.png');}
    }
  }
}


// Main content container
#content {position:relative;top:0;left:0;width:100%;height:100%;z-index:2;}

// Sections container
#track {position:relative;height:100%;//percentage($pageSections);
  // Mask element when sidebar is open
  &:before {display:block;content:'';background:rgba(0,0,0,0.8);position:absolute;top:0;left:0;right:0;bottom:0;z-index:9;visibility:hidden;opacity:0;@include transition(all 0.45s ease);}
  // Sections
  section {opacity:0;padding:1rem 0;position:absolute;height:100%;width:100%;top:0;left:0;/*percentage(1/$pageSections);*/@include scrollOverflow;}
}

// Individual sections
.section-home {
  h1 {max-width:80%;display:inline-block;font-size:8rem;color:$magenta;font-weight:bold;@include text-shadow(0 0 80px #000);}
}

.section-about {

}

.section-contact {
  .tabular {position:relative;z-index:2;}

  #frmContact {max-width:800px;
    .subheader {background:$magenta-step-up7_5;
      h2 {margin:0;padding:15px;text-align:center;background:$magenta-step-down15;}
      p {text-align:left;margin:0;padding:$grid-gutter-width/2;}
    }
    .form-body {padding:0 $grid-gutter-width/2;margin:0 -($grid-gutter-width/2);
      .btn {@include button-variant(#fff, $magenta-step-up7_5, $magenta-step-up7_5);padding-left:0.5rem;padding-right:0.5rem;white-space:normal;
        i {display:none;}
        &.processing i {display:inline-block;}
      }
      &.sent {overflow:hidden;}
    }
  }
//  .map-back {position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;
//    .gmap {width:100%;height:100%;}
//  }
}

// Navigation (ie. sidebar)
nav {position:absolute;top:0;bottom:0;height:100%;left:100%;width:calc(100% - 3rem);z-index:3;background:$magenta;@include text-shadow(0 1px 1px #000);
  .inner {position:relative;height:100%;width:100%;}
  .trigger {position:absolute !important;display:block;right:100%;padding:0.5rem 0.8rem;font-size:1.5rem;line-height:1;background:rgba($magenta,0.8);position:absolute !important;
    i {position:relative;top:2px;}
  }
  ul {margin:0;height:100%;@include scrollOverflow;
    li {
      a {display:block;padding:0.8em;font-size:1.4rem;line-height:1;}
      &.active a {background:$magenta-step-down7_5;}
      &:hover a {background:$magenta-step-down15;}
    }
  }
}

// Prev/Next navigation arrows
.arrow {display:none;position:fixed;bottom:0;height:auto;top:auto;z-index:3;background:transparent;@include transition(all 0.25s ease);
  .inner {display:table;height:100%;}
  a {padding:15px;display:table-cell;position:relative;height:100%;vertical-align:middle;text-align:center;}
  img {position:relative;width:28px;@include transition(all 0.15s ease);}
  &.left {left:0;
    img {@include transform(rotateZ(180deg));}
  }
  &.right {right:0;}
  &:hover {background:rgba(0,0,0,0.35);}
}


@media screen and (min-width:$screen-md){
  #content {
    .arrow {height:70%;top:15%;
      img {width:30px;}
      &:hover a {cursor:url('#{$imagePath}arrow_32.svg'), auto;
        img {width:50px;}
      }
    }
  }
}

@include scrollbars($lime-green, 6px);

.custom-view {position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.55);}


// Setup for sidebar animations
#parallax, #content {@include transform(translateX(0));@include transition(all 0.15s ease);}

body.sidebar-open {
  #parallax, #content {@include transform(translateX(calc(-100% + 3rem)));}
  #track:before {visibility:visible;opacity:1;}
}

@media screen and (min-width:$screen-sm){
  nav {width:375px;
    .trigger {margin:0.7rem;background:rgba($magenta,1);@include cubify($magenta-step-down15, 5px);}
  }
  body.sidebar-open {
    #parallax, #content {@include transform(translateX(-375px));}
  }
}

// Modernizr things
html.no-csscalc {
  nav {display:none !important;}
}