// Custom vars
$parallaxPages:               3;
$fa-font-path:                '/packages/focus43/fonts/';
$imagePath:                   '/packages/focus43/images/';
$magenta:                     #c7254e;
$magenta-step-down15:         darken($magenta, 15%);
$magenta-step-up7_5:          darken($magenta, 7.5%);
$magenta-step-up15:           lighten($magenta, 15%);
$magenta-step-up25:           lighten($magenta, 25%);
$magenta-transparent:         rgba($magenta-step-down15, 0.9);;
$dark-blue:                   #153e4d;
$light-blue:                  #2299ac;
$lime-green:                  #219161;
// Bootstrap vars
$link-color:                  #fff;
$grid-gutter-width:           16px;
$font-size-base:              19px;
$font-size-h1:                315%;//floor(($font-size-base * 5.6));
$font-size-h2:                285%;//floor(($font-size-base * 3.5));
$font-size-h3:                220%;//ceil(($font-size-base * 2.7));
$font-size-h4:                155%;//ceil(($font-size-base * 1.65));
$headings-font-weight:        100;
$btn-font-weight:             100;
$text-color:                  #fff;
$border-radius-base:          0;
$border-radius-large:         0;
$border-radius-small:         0;
$input-bg:                    $magenta-transparent;
$input-border:                transparent;
$input-color:                 #f5f5f5;
$input-color-placeholder:     $magenta-step-up15;
$input-border-focus:          $magenta-step-up7_5;

// Imports
@import 'compass';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/variables';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/mixins';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/scaffolding';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/normalize';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/type';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/grid';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/buttons';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/forms';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/utilities';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/responsive-utilities';
@import '../../bower_components/font-awesome/scss/font-awesome';
@import 'custom-mixins';

$pageSections:5;

// Base
html, body {font-weight:100;font-size:$font-size-base;height:100%;}
//body {/*height:calc(100% * #{$pageSections});*/}
h1,h2,h3,h4,h5 {margin:0;text-transform:uppercase;text-align:center;line-height:1;}
h1 {letter-spacing:-2px;}
a, a:hover, a:active {cursor:pointer;text-decoration:none;}
p {letter-spacing:0.055em;}
.tabular {width:100%;height:100%;display:table;
  .cellular {width:100%;height:100%;display:table-cell;vertical-align:middle;text-align:center;}
}


// Horizontal parallax
#parallax, #parallax .inner, #parallax .layer {width:100%;height:100%;}
#parallax {position:fixed;top:0;left:0;z-index:0;
  .inner {position:relative;overflow:hidden;
    .layer {position:absolute;top:0;left:0;width:200%;background-size:cover;background-repeat:no-repeat;@include transform(translateZ(0) translateX(0));@include transition-property(all);@include transition-timing-function(ease);
      &#layer-butte {@include transition-duration(1.8s);background-position:0 100%;background-image:url('#{$imagePath}parallax/camp.jpg');}
      &#layer-clouds {@include transition-duration(4.25s);background-position:0 100%;background-image:url('#{$imagePath}parallax/stars.png');}
      &#layer-moon {@include transition-duration(2.7s);background-position:35% 100%;background-image:url('#{$imagePath}parallax/moon.png');}
    }
  }
}


#content {/*position:fixed;top:0;left:0;width:100%;height:100%;*/height:100%;z-index:2;
  #track {height:calc(100%*5);
    section {height:calc(100%/5);}
  }
}

nav {display:none;}

//#content {position:fixed;height:calc(100% * #{$pageSections});
//  #track {position:absolute;height:100%;
//    section {height:calc(100%/#{$pageSections});}
//  }
//}
//
//#content {position:fixed;top:0;left:0;width:100%;height:100%;
//  #track {z-index:1;position:relative;top:0;left:0;width:100%;height:(100% * $pageSections);@include perspective(1000);
//    section {height:calc(100%/#{$pageSections});@include transform-style(preserve-3d);}
//  }
//}
//
//section {
//  &#section-home {
//    h1 {font-size:1000%;@include text-shadow(0 0 50px #000);
//      span {display:inline-block;}
//    }
//  }
//
//  &#section-about {
//    .subscroller {height:65%;width:100%;position:relative;background:rgba(0,0,0,0.45);overflow:hidden;@include transform-style(preserve-3d);
//      .inside-track {width:calc(100% * 3);height:100%;position:absolute;top:0;left:0;font-size:0;line-height:1;@include transform-style(preserve-3d);
//        .pane {position:relative;text-align:center;padding-top:75px;display:inline-block;width:calc(100%/3);height:100%;font-size:1rem;
//          img {margin:0 auto;display:inline-block;height:auto;max-width:100%;}
//        }
//      }
//    }
//    .descriptions {height:35%;width:100%;position:relative;
//      .node {position:absolute;top:0;left:0;opacity:0;}
//    }
//  }
//
//  &#section-work {
//    .rotated {position:relative;width:75%;height:100%;background:transparent url('#{$imagePath}screenshot.png') no-repeat 50% 50%;background-size:210%;}
//  }
//}
//
//
//
//nav {position:fixed;top:15px;right:15px;z-index:3;
//  ul {font-size:0;
//    li {position:relative;top:0;background:#c7254e;font-size:1rem;@include transform(translateZ(0));@include cubify(darken(#c7254e, 8%), 8px);@include transition(top 0.18s ease);
//      a {display:block;padding:.5rem;}
//      &:nth-child(1) {z-index:5;}
//      &:nth-child(2) {z-index:4;}
//      &:nth-child(3) {z-index:3;}
//      &:nth-child(4) {z-index:2;}
//      &:nth-child(5) {z-index:1;}
//      &:hover, &.active {top:5px;background:darken(#c7254e, 5%);@include box-shadow(-8px 8px 18px rgba(0,0,0,0.5));@include cubify(darken(#c7254e, 11%), 8px);}
//    }
//  }
//}