.page-content[tpl-contact]{//padding:90px 0;
  //input, textarea {color:#fff;font-size:2.6rem;height:auto;line-height:1;padding:1rem 1rem 0.875rem;background:rgba(255,255,255,0.25);border:0;@include box-shadow(0 0 10px rgba(0,0,0,0.35));@include cubify(#fff, 11px);}
  [class*="col-sm-"]{position:static !important;}
  input, textarea {color:#fff;font-size:2.6rem;position:absolute;left:0;top:0;border:0;background:rgba(255,255,255,0.25);}
  input[name="name"] {height:calc(100% * 1/4);}
  input[name="email"] {width:50%;top:calc(100% * 1/4);height:calc(100% * 1/4);}
  input[name="phone"] {width:50%;top:calc(100% * 1/4);left:calc(100% * 2/4);height:calc(100% * 1/4);}
  textarea {top:calc(100% * 2/4);height:calc(100% * 1/4);}
}