div[tpl-home]{width:100%;height:100%;position:relative;
  .shards {position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;
    .shard {position:absolute;top:0;left:-25%;width:150%;height:100%;background-color:transparent;background-size:cover;background-position:50% 50%;
      &.z3 {background-image:url('#{$image-path}theme/z3.png');}
      &.z2 {background-image:url('#{$image-path}theme/z2.png');}
      &.z1 {background-image:url('#{$image-path}theme/z1.png');}
    }
  }

  .page-content {padding:0;@include background-image(radial-gradient(80px 80px, #00ffff 0px, transparent 500px));
    .slanter {width:65%;height:100%;background:rgba($magenta, 0.6);@include transform(skewX(-15deg) translateX(-25%));
      .reverse {width:100%;height:100%;@include transform(skewX(15deg));
        h1 {font-size:6rem;line-height:0.7em;position:relative;right:-10%;@include text-shadow(0 1px 1px rgba(0,0,0,0.65));
          span {display:block;font-size:1.5rem;line-height:1em;}
        }
      }
    }

//    .inner {//line-height:1;display:inline-block;margin:0 auto;width:800px;max-width:80%;padding:0 $grid-gutter-half;text-transform:uppercase;color:darken(#00ffff, 35%);@include text-shadow(0 1px 0 #fff);
//      img {height:300px;max-height:40%;}
//      h1 {font-size:6rem;}
//      h2 {font-size:2rem;}
//      .slanter {padding:30px;background:rgba($magenta, 0.85);@include transform(skewY(-7deg));}
//      .slanter2 {padding:15px;background:rgba($brand-primary, 0.85);@include transform(skewY(-7deg));}
//      .slanter3 {font-size:0;line-height:0;@include transform(skewY(-7deg));
//        .q {display:inline-block;width:25%;font-size:$font-size-base;line-height:1;padding:1rem;border:1px solid #ffff00;
//          &:nth-child(1){background:rgba($lime-green, 0.75);}
//          &:nth-child(2){background:rgba($lime-green, 0.65);}
//          &:nth-child(3){background:rgba($lime-green, 0.55);}
//          &:nth-child(4){background:rgba($lime-green, 0.45);}
//        }
//      }
//    }
  }
}