nav {background:$magenta;position:absolute;top:0;bottom:0;height:100%;left:100%;width:calc(100% - 3rem);z-index:9;@include transform(translateZ(0) translateX(0));@include transition(all $sidebar-animate-time ease);
  .inner {position:relative;height:100%;width:100%;@include unselectable;
    .trigger {text-align:center;position:absolute !important;display:block;right:100%;width:3rem;padding:0.5rem 0.8rem;font-size:1.5rem;line-height:1;background:rgba($magenta,0.8);@include transform(rotate(0) scale(1));@include transition(all $sidebar-animate-trigger-time ease);
      i {position:relative;top:2px;
        &.fa-spin {display:none;}
      }
    }
    ul {margin:0;height:100%;@include scrollOverflow;
      li {
        a {display:block;padding:0.8em;font-size:1.4rem;line-height:1;}
        &.active a {background:$magenta-step-down7_5;}
        &:hover a {background:$magenta-step-down15;}
      }
    }
  }
  &.nav-open {@include transform(translateX(-100%));
    ~ #level-2 {@include transform(translateX(-100%));
      &:after {opacity:1;visibility:visible;}
    }
  }
  &.nav-open, &:hover {@include box-shadow(0 0 10px #000/*inset 5px -10px 10px rgba(0,0,0,0.5)*/);}
  &.working .inner .trigger {
    i.fa-bars {display:none;}
    i.fa-spin {display:inline-block;}
  }
}

@media screen and (min-width:$screen-xs){
  nav {width:375px;
    .inner {
      .trigger {margin:0.7rem;background:rgba($magenta,1);@include cubify($magenta-step-down15, 5px);}
    }
    &.nav-open {@include transform(translateX(-375px));
      .trigger {@include transform(rotate(45deg) scale(0.85));}
      ~ #level-2 {@include transform(translateX(-375px));
        &:after {opacity:1;visibility:visible;}
      }
    }
  }
//  html.no-touch nav:hover {@include transform(translateX(-375px));
//    .trigger {@include transform(rotate(45deg) scale(0.85));}
//    ~ #level-2 {@include transform(translateX(-375px));
//      &:after {opacity:1;visibility:visible;}
//    }
//  }
}