.page-content[tpl-work]{padding:0;@include background-image(radial-gradient(1580px 1580px, transparent 500px, #00ffff 950px));
//  .header {position:relative;width:100%;
//    svg {position:absolute;top:0;left:0;width:100%;height:100%;
//      path {fill:rgba($magenta, 0.6);}
//    }
//    h1 {font-size:3rem;padding:1.6rem 0 2rem;position:relative;z-index:1;}
//  }
//
//  .works {
//    .entry {padding:3rem 0;text-align:center;background:rgba($magenta, 0.6) no-repeat 50% -100%;@include transform(skewY(-3deg) translateZ(0));@include transition(all 0.3s ease);
//      p {line-height:1;margin:0;padding:0;font-size:3rem;@include transform(skewY(3deg));}
//      &:hover {padding:8rem 0;background-color:rgba($magenta, 0.85);background-position:50% 50%;}
//
//      &.toj {background-image:url('#{$image-path}renders/toj.png');}
//      &.cmr {background-image:url('#{$image-path}renders/cmr.png');}
//    }
//  }
}

//#canvas {width:100%;height:100%;position:relative;

$svg-size:350px;
.tabular {
  ul {font-size:0;line-height:0;margin-top:($svg-size * 0.24);
    li {display:inline;
      &:nth-child(7n+3):after, &:nth-child(7n):after {content:"\A"; white-space:pre;}
    }
  }

  svg {width:$svg-size;height:$svg-size;padding:2px;margin-top:-($svg-size * 0.24);
    g {
      path {opacity:0;}
    }
  }

//  svg {position:absolute;display:inline-block;margin-top:-($svg-size/2);margin-left:-($svg-size/2);width:$svg-size;height:$svg-size;transition:all 0.2s ease;/*transform:translateX(-50%) translateY(-50%);*/
//    g {
//      image {@include transition(all 0.5s ease);}
//      path {fill:#000000;opacity:0;@include transition(opacity 0.35s ease-in-out);}
//    }
//
////    &:nth-child(1n+1){@include transform(translateX(-51%) translateY(-77%));}
////    &:nth-child(2n+1){@include transform(translateX(51%) translateY(-77%));}
////    &:nth-child(3n+1){@include transform(translateX(-102%));}
////    &:nth-child(4n+1){@include transform(translateX(0) translateY(0));}
////    &:nth-child(5n+1){@include transform(translateX(102%));}
////    &:nth-child(6n+1){@include transform(translateX(-51%) translateY(77%));}
////    &:nth-child(7n+1){@include transform(translateX(51%) translateY(77%));}
//
//    g:hover {
//      image {@include transform(rotate(-10deg) scale(1.2) translateX(-5%));}
//      path {opacity:0.3;}
//    }
//
//
//
////    &:nth-child(even){@include transform(translateX(51%) translateY(-77%));}
////    &:nth-child(odd){@include transform(translateX(-51%) translateY(-77%));}
////    &:nth-child(4){@include transform(translateX(-102%));}
////    &:nth-child(5){@include transform(translateX(-102%));}
////    &:nth-child(6){@include transform(translateX(102%));}
////    &:last-child{@include transform(translateX(0) translateY(0));}
//  }
}



//  svg:hover {width:290px;height:290px;z-index:2;}
//  svg:hover g image {transform:scale(1.2) translateX(-5%) rotate(0);}
//  svg:hover g path {opacity:0.35;}

//  svg:nth-child(2){margin-left:-252px;}
//  svg:nth-child(3){margin-left:-126px;margin-top:192px;}
//  svg:nth-child(4){margin-left:126px;margin-top:192px;}
//  svg:nth-child(5){margin-left:252px;}
//  svg:nth-child(6){margin-left:-126px;margin-top:-192px;}
//  svg:nth-child(7){margin-left:126px;margin-top:-192px;}
//}